.container{
  text-align: center;
  /* padding: 20px; */
  margin: 0 auto;
  color: #6D6D6D;
  font: 60px;
}
.heading{
    font-size: 2.5rem;
    font-weight: bold;
    color: #6D6D6D;

}
.logo{
    width: 150px;
    margin: 20px 0;
}

.description{
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 1.6;
    color: #92BCB3;
    font: 24px;
    margin-bottom: 0px;
    font-weight: 800;


}
