.main-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .header{
    width: 100% !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    gap: 60px;
  }
  
  .subDescription  h4{
    width: 100%;
    text-align: center;
    color: #92BCB3 !important;
    font-family: "Average", Sans-serif;
    line-height: 30px;
    font-size: 19px;
    font-weight: 600 !important;
    font-style: italic;
    padding-top: 40px;
    padding-bottom: 10px;
    /* background-color: #ffff; */

}
  
  .header p {
    text-align: left;
    word-spacing: 1px;
    font-size: 20px;
    color: #666;
    margin-top: 30px;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
 
  
  .header h1 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .header p {
    font-size: 16px;
    color: #475355;
    margin-top: 10px;
    line-height: 23px;
  }
  
  .services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .service-card{
    width: 100%;
    max-width: 350px;
    margin: 6px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 6px 6px 8px rgb(192, 192, 192);
  }
  @media (max-width: 768px) {
    .header{
        flex-direction: column;
    }
    .services{
        align-items: center;
        flex-direction: column;
    }
    }

  