.privacy ul li{
    margin: 30px;
    line-height: 2;
    font-size: 20px;
    color: #54595f;
}
.privacy p{
    font-size: 1.4rem;
    color: #54595f;
}
.privacy h1,h2,h3,h4{
    color: #54595f;
    text-align: left;
}