.sec-token {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
    flex-wrap: wrap;
  }
  

  
  @media (max-width: 768px) {
    .sec-token {
      margin-top: 3rem; 
      padding: 0 10px;
    }
  }
  