.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; 
}

.sec-token {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.sec-token img {
height: 440px;
width: 768px;
max-width: 100%;
  height: auto; /* Maintains the image's aspect ratio */
  object-fit: cover; /* Ensures that the image scales properly */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sec-token {
    margin-top: 3rem; /* Adjusts margin for smaller screens */
  }
  
  .sec-token img {
    max-width: 100%; /* Ensures image scales down fully on smaller screens */
  }
}
