@font-face {
  font-family: "Average";
  src: url("./assets/fonts/Average/Average-Regular.ttf") format("woff2"),
}

@font-face {
  font-family: "DMSans";
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf") format("woff2"),
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("woff2"),
}

@font-face {
  font-family: "Exo";
  src: url("./assets/fonts/Exo/Exo-VariableFont_wght.ttf") format("woff2"),
}

*{
  font-family: Average !important;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: #F2F2F2 !important;
  scroll-behavior: smooth;
}

.dmSans{
  font-family: DMSans, sans-serif !important;
}

.average{
  font-family: Average, sans-serif !important;
}

.roboto{
  font-family: Roboto, sans-serif !important;
}

.exo{
  font-family: Exo, sans-serif !important;
}